.authorization-page-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5FB;
    font-family: 'Montserrat', sans-serif;
}

.authorization-block {
    min-height: 600px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.authorization-block h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

.authorization-block input {
    background-color: #F5F5FB;
    font-size: 26px;
    border-color: #C7CADD;
    color: #C7CADD;
    margin-top: 40px;
}

.button {
    background-color: #F5F5FB;
    border-color: #C7CADD;
    color: #C7CADD;
    font-size: 26px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-top: 100px;
}

.authorization-block form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.authorization-block p a {
    color: black;
}

