html {
    background-color: #F5F5FB;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    display: inline-block;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #8DA1B5;
}

.sidebar ul {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 110px;
    padding-left: 40px;
    box-sizing: border-box;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #8DA1B5;
}

.sidebar ul li:hover a {
    padding-left: 30px;
}

.sidebar img {
    width: 22px;
    height: 22px;
    padding-right: 20px;
}
