.page-title {
    font-weight: 300;
}

.page-title span {
    font-size: 20px;
}

.page-title-wrapper {
    margin-left: 270px;
    margin-top: 50px;
}

.page-table-wrapper {
    background-color: white;
    height: 82%;
    margin: 0 20px 0 270px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.content-table thead tr {
    background-color: #C7CADD;
    color: black;
    text-align: left;
}

.page-table-wrapper button {
    background-color: #9966cc;
    border: none;
    color: white;
}

.add-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
    background-color: #9966cc;
    border: none;
    color: white;
}

.add-button img {
    width: 20px;
    height: 20px;
}

/* create */

.back-to-previous {
    margin-left: 270px;
}

.create-block {
    margin-left: 270px;
}
