.timesheet-list {
    margin-left: 250px;
    margin-top: 50px;
    height: 90%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
}

.list-block {
    width: 550px;
    height: 300px;
    background-color: #9966cc;
    margin-left: 120px;
    border-radius: 50px;
    display: flex;
}

.timesheet-numeration {
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-left: 40px;
    align-self: flex-end;
    margin-bottom: 20px;
}

#first-block {
    background: linear-gradient(to right, #26D0CE, #1A2980);
}

#second-block {
    background: linear-gradient(to right, #085078, #85D8CE);
}

#third-block {
    background: linear-gradient(to right, #136a8a, #267871);
}

#fourth-block {
    background: linear-gradient(to right, #3498db, #2c3e50);
}


